#page-template {
  padding: 50px 0;
  background-color: $background-index;

  .intro {
    max-width: 1400px;
    margin: 20px auto;
    margin-bottom: 20px;
    padding: 0 20px;

    @media (max-width: 1400px) {
      padding: 0;
    }
  }

  .delivery-info {
    background-color: $background-info;
    padding: 20px;
    text-align: center;
  }

  .woocommerce {
    max-width: 1400px;
    margin: 20px auto;

    .woocommerce-form-login-toggle {
      padding: 0 20px;
      @media (max-width: 1400px) {
        padding: 0;
      }

      .woocommerce-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        border-top-color: transparent !important;
        color: $primary-color !important;
        background-color: $white;
        border-radius: 10px;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 1em;
          left: 1.5em;
          width: 20px;
          height: 20px;
          background-image: url(./img/icons/user.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    .woocommerce-form-coupon-toggle {
      width: 100%;
      padding: 0 20px;

      @media (max-width: 1400px) {
        padding: 0;
      }

      .woocommerce-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        border-top-color: transparent !important;
        color: $primary-color !important;
        background-color: $white;
        border-radius: 10px;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 1em;
          left: 1.5em;
          width: 20px;
          height: 20px;
          background-image: url(./img/icons/ticket.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    .woocommerce-info::before,
    .woocommerce-info a {
      color: $primary-color !important;
    }

    .woocommerce-error::after,
    .woocommerce-info::after,
    .woocommerce-message::after {
      display: none !important;
    }
  }
}

@media (max-width: 1400px) {
  #page-template {
    padding: 20px;
  }
}
