#pg-home {
  .carousel-home {
    img {
      width: 100%;
    }

    .mbl {
      display: none;
    }

    .slick-arrow {
      position: absolute;
      bottom: 50%;
      transform: translateX(-50%);
      z-index: 1;
      padding: 5px;
      border: 0;
      border-radius: 50%;
      font-size: 0;
      outline: none;
      overflow: hidden;
      background: transparent;
      cursor: pointer;

      &.slick-prev {
        left: 5%;
      }

      &.slick-next {
        right: 2%;

        &::before {
          transform: rotate(180deg);
        }
      }

      &::before {
        background-image: url("./img/icons/arrow-carrossel.svg");
        background-size: 32px 32px;
        display: inline-block;
        width: 32px;
        height: 32px;
        content: "";
      }
    }
  }

  .products-shop {
    padding: 50px 0;

    .title-section {
      margin-bottom: 20px;

      @media (max-width: 1024px) {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  #pg-home {
    .carousel-home {
      .mbl {
        display: block;
      }

      .dkp {
        display: none;
      }
    }
  }
}
