* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body,
html {
  font-family: $font-primary;
  @include text;
  color: $black;
  background-color: $white;
  scroll-behavior: smooth;
}

body {
  padding-top: 145px;

  @media (max-width: 1024px) {
    padding-top: 135px;
  }
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.woocommerce-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  border-top-color: transparent !important;
  max-width: 1400px;
  margin: 0 auto 20px auto !important;
  padding: 20px !important;
  background-color: $black !important;
  border-radius: 10px;
  @include text;
  color: $black !important;

  &::before,
  &::after {
    display: none !important;
  }

  &:focus {
    outline: none;
  }

  a {
    width: max-content;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: $black;
    border-radius: 30px;
    color: $white;
    @include text;
  }
}

.categories-list {
  padding: 50px 0;

  h2 {
    @include title-section;
    margin-bottom: 20px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $background-top;
      padding: 40px 10px;
      border-radius: 10px;
      color: $green;
      text-align: center;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

      .icon {
        width: 100px;
        height: 50px;

        img {
          height: 100%;
          object-fit: contain;
        }
      }

      .title {
        @include title-card-cat;
        margin: 5px 0 10px 0;
      }

      .view-all {
        @include btn-card-cat;
        text-decoration: underline;
        opacity: 0.8;
      }

      &:nth-child(2) {
        background-color: #f6eadf;
        color: #c07229;
      }

      &:nth-child(3) {
        background-color: #fff9e7;
        color: #edb609;
      }

      &:nth-child(4) {
        background-color: #f7edf7;
        color: #844985;
      }

      &:nth-child(5) {
        background-color: #eaf4f9;
        color: #008ad0;
      }

      &:nth-child(6) {
        background-color: #fbf0ee;
        color: #e84122;
      }

      &:nth-child(7) {
        background-color: #fff1f0;
        color: #780400;
      }

      &:nth-child(8) {
        background-color: #f3f9eb;
        color: #83b435;
      }

      &:nth-child(9) {
        background-color: #fbe9ef;
        color: #e8427a;
      }

      &:nth-child(10) {
        background-color: #f8f3ee;
        color: #c07229;
      }

      &:nth-child(11) {
        background-color: #f3f5fb;
        color: #0c35a4;
      }

      &:nth-child(12) {
        background-color: #effaf7;
        color: #07b68a;
      }
    }
  }

  @media (max-width: 1024px) {
    .list {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      .item {
        padding: 20px 10px;
      }
    }
  }

  @media (max-width: 768px) {
    .list {
      grid-template-columns: repeat(2, 1fr);

      .item {
        .icon {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
